// ANIMATION
// body start animation
@keyframes page-load {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes animation-zoom {
	from {
		//transform: scale(1.1, 1.1) translateY(-70px);
		transform: translateY(-70px);
		opacity: 0;
	}
	to {
		//transform: scale(1, 1) translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}


//----------------------------------
.animation-zoom {
	animation-name: animation-zoom;
	animation-duration: 3s;
}