/* Header */
header {
	padding: 30px 0;
}

.logo-gazprom {
	img {
		width: 170px;
		height: auto;
	}
}

.logo-kit-group {
	margin-top: 10px;
	img {
		width: 100px;
		height: auto;
	}
}

.header-bottom {
	margin-top: 30px;
}

.lang-dropdown {
	position: relative;
	width: 100px;
	img {
		display: block;
		position: absolute;
		right: 10px;
		top: 8px;
	}
	&:hover .lang-dropdown-content {
		display: block;
		background-color: #fff;
	}
	&:hover .lang-dropbtn {
		background-color: #fff;
	}
}

.lang-dropbtn {
	display: block;
	width: 100%;
	text-align: left;
	padding: 7px 10px 5px;
	text-transform: uppercase;
	font-size: 12px;
	font-family: Proxima;
	color: $main-blue;
}

.lang-dropdown-content {
	display: none;
	position: absolute;
	z-index: 9999;
	width: 100%;
	background-color: #fff;
	a {
		display: block;
		padding: 5px 10px;
		font-size: 12px;
		font-family: Proxima;
		color: $main-blue;
		&:hover {
			background-color: darken(#fff, 3%);
		}
	}
}

.menu {
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		margin: 0 12px;
		line-height: 12px;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
		a {
			font-size: 12px;
			font-family: Proxima;
			color: $main-blue;
			text-transform: uppercase;
			&:hover {
				color: $light-grey;
			}
		}
	}
}

.submenu-link {
	position: relative;
	&:hover .submenu {
		display: block;
	}
}

.submenu {
	display: none;
	background-color: $main-grey;
	position: absolute;
	top: 12px;
	left: -50px;
	right: -50px;
	padding: 20px 10px 10px;
	li {
		margin: 0;
		a {
			margin: 10px 0;
		}
	}
}

.search {
	display: block;
	position: relative;
	width: 140px;
	float: right;
	input {
		border: none;
		width: 100%;
		font-size: 12px;
		font-family: Proxima;
		color: $main-blue;
		padding: 5px;
		background-color: transparent;
		&::placeholder {
			font-size: 12px;
			font-family: Proxima;
			color: $main-blue;
			text-transform: uppercase;
		}
		&:focus {
			background-color: #fff;
		}
	}
	label {
		display: block;
		position: absolute;
		right: 5px;
		top: 7px;
		cursor: pointer;
		img {
			display: block;
		}
	}
}

.mob-btn {
	display: none;
	position: absolute;
	top: 20px;
	right: 10px;
}

.hamburger {
	padding: 0;
}
/* End Header */