//HOME PAGE
/* Main section */

//Slider Home-1
.slider-home-1 {
	border: 1px solid $main-blue;
}

.slide-home-1 {
	position: relative;
	padding: 30px 0;
	border-left: 1px solid $main-blue;
	margin-left: -1px;
	img {
		display: inline-block;
		max-width: 325px;
		height: auto;
	}
}

.slick-current {
	border-left: none;
	margin-left: 0;
}

.slide-home-1-title {
	position: absolute;
	padding: 25px 0 10px;
	bottom: 30px;
	left: calc(50% - 235px / 2);
	min-height: 65px;
	width: 235px;
	background-color: $main-grey;
	h3 {
		font-size: 22px;
		font-weight: normal;
		margin: 0;
		line-height: 1.2;
	}
}

.slick-prev {
	position: absolute;
	z-index: 1000;
	height: 82px;
	width: 82px;
	//border: 1px solid $main-blue;
	top: calc(50% - 41px);
	left: -50px;
	background-image: url('../images/arrow_left_sq.svg');
	background-repeat: no-repeat;
	background-size: 80px 80px;
	cursor: pointer;
}

.slick-next {
	position: absolute;
	z-index: 1000;
	height: 82px;
	width: 82px;
	//border: 1px solid $main-blue;
	top: calc(50% - 41px);
	right: -50px;
	background-image: url('../images/arrow_right_sq.svg');
	background-repeat: no-repeat;
	background-size: 80px 80px;
	cursor: pointer;
}

.slick-disabled {
	opacity: 0;
	cursor: default;
	@include transition (.5s);
}

.company-item {
	border: 1px solid $main-blue;
	a {
		display: block;
		height: 350px;
		&:hover {
			opacity: .8;
		}
	}
	p {
		letter-spacing: -.01em;
		padding: 0 35px;
	}
}

.border-item-center {
	border-left: none;
	border-right: none;
}

.company-item-logo {
	height: 150px;
	line-height: 150px;
}

//Slider 5 items
.slider-2 {
	border: 1px solid $main-blue;
}

.slide-simple {
	@extend .slide-home-1;
	padding: 22px 0;
	img {
		max-width: 185px;
	}
	&:hover .slide-simple-text {
		opacity: 1;
		@include transition (.3s);
	}
}

.slide-simple-text {
	position: absolute;
	opacity: 0;
	//height: 220px;
	padding: 0 10px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	//z-index: 2000;
	background-color: $main-grey;
	h3 {
		font-size: 22px;
		font-weight: normal;
		margin: 0;
		padding-top: 90px;
		line-height: 1.2;
	}
	p {
		margin: 0;
	}
	span {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 20px;
		font-family: Proxima;
		font-size: 12px;
		text-transform: uppercase;
		color: $main-blue;
		line-height: 1;
	}
}
/* End Main section */
