/*==========  Non-Mobile First Method  ==========*/

 /* Medium Devices, Desktops */
 @media only screen and (max-width : 1270px) {

    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 0;
    }

}

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1024px) {

        .header-top {
            margin-top: 60px;
        }

        .header-bottom {
            background-color: $main-grey;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 9999;
            padding: 15px 0;
            margin-top: 0;
        }

        .menu {
            display: none;
            text-align: center;
            padding: 20px 0;
            margin: 10px 0;
            li {
                display: block;
                margin: 0;
            }
            a {
                display: block;
                margin: 10px 0;
            }
        }

        .submenu-link {
            &:hover .submenu {
                display: none;
            }
        }        

        .search {
            display: none;
            float: none;
            width: 140px;
            margin: 0 auto;
            input {
                background-color: lighten($main-grey, 5%);
            }
        }

        .mob-btn {
            display: block;
        }

        .slide-home-1 {
            border: none;
            margin-left: 0;
        }

        .slide-simple {
            border: none;
            margin-left: 0;
        }

        .slick-current {
            border: none;
            margin-left: 0;
        }

        .border-item-center {
            border-left: 1px solid $main-blue;
            border-right: 1px solid $main-blue;
        }

        .company-item a {
            height: auto;
            min-height: 250px;
        }

        .back-btn {
            float: none;
            & + nav {
                float: none;
                margin-left: 20px;
                padding-top: 0;
            }
        }

        .media-details-image {
            border-right: 1px solid $main-blue;
            img {
                max-width: 600px;
                margin: 0 auto;
            }
        }

        .media-details-text {
            margin-top: -1px;
        }

        .media-details-text-bottom {
            position: static;
            margin-top: 50px;
            padding-bottom: 30px;
        }

        .see-also-item {
            border-right: 1px solid $main-blue !important;
        }

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 640px) {

        .row-3, .row-4, .row-padding {
            padding: 0 10px;
        }

        .section-title {
            p {
                padding: 0 10px;
            }
        }

        .tab-btn {
            width: 100%;
            border-bottom: none;
            @for $i from 2 through 4 {
                &:nth-child(#{$i}){
                    flex-grow: 1;
                    border-left: 1px solid $main-blue;
                }
            }
        }

        .media-text-title {
            display: none;
        }

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    	.logo-gazprom {
    		text-align: center;
    		margin-bottom: 30px;
    	}

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

    }